<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pagina niet gevonden</title>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <header>
    <h1 id="logo">Praktijk Muylaert</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/kinesitherapie">Kinesitherapie</a>
      <a href="/osteopathie">Osteopathie</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
  <h1>Pagina niet gevonden</h1>
  <div style="display: flex; justify-content: center;">
    <a href="/" class="button">Terug naar home</a>
  </div>
</body>

</html>
