<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body> 
 <header>
    <h1 id="logo">Praktijk Muylaert</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/kinesitherapie">Kinesitherapie</a>
      <a href="/ostheopathie">Osteopathie</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
<h1>Contact</h1> 
<p class="info">
Marten Muylaert
</p>
<p class="info">
Bergestraat 26, 9550 Steenhuize-Wijnhuize (Herzele)
</p>
<p class="info">
0486/633101
</p>
<p class="info">
email: martenmuylaert@hotmail.com
</p>
<p class="info">
KBO: 0815730804
</p>
  </body>
</html>
