<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css">
	<title>Praktijk Muylaert</title>
</head>

<body>
	<h1>Praktijk<br>Muylaert</h1>
	<nav>
		<div class="nav-link nav-current">
			<a href="/">Home</a>
		</div>
		<div class="nav-link">
			<a href="/kinesitherapie">Kinesitherapie</a>
			<div>
				<a href="/kinesitherapie/werkwijze" class="nav-sub">Werkzijze</a>
				<a href="/kinesitherapie/indicaties" class="nav-sub">Indicaties</a>
				<a href="/kinesitherapie/proef2move" class="nav-sub">Proef2Move</a>
			</div>
		</div>
		<div class="nav-link">
			<a href="/osteopathie">Ostheopathie</a>
			<div>
				<a href="/osteopathie/filosofie" class="nav-sub">Filosofie</a>
				<a href="/osteopathie/werkwijze" class="nav-sub">Werkwijze</a>
				<a href="/osteopathie/indicaties" class="nav-sub">Indicaties</a>
			</div>
		</div>
		<div class="nav-link">
			<a href="/contact">Contact</a>
		</div>
	</nav>
	<h2>Home</h2>
	<div id="img-carousel"></div>
</body>

</html>