<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css">
	<script src="https://kit.fontawesome.com/dc3124471a.js" crossorigin="anonymous"></script>
	<title>Praktijk Muylaert</title>
</head>

<body>
	<nav>
		<div class="nav-link nav-current">
			<a href="/">Home</a>
		</div>
		<div class="nav-link">
			<a href="/kinesitherapie">Kinesitherapie</a>
			<div>
				<a href="/kinesitherapie/werkwijze" class="nav-sub">Werkzijze</a>
				<a href="/kinesitherapie/indicaties" class="nav-sub">Indicaties</a>
				<a href="/kinesitherapie/proef2move" class="nav-sub">Proef2Move</a>
			</div>
		</div>
		<div class="nav-link">
			<a href="/osteopathie">Ostheopathie</a>
			<div>
				<a href="/osteopathie/filosofie" class="nav-sub">Filosofie</a>
				<a href="/osteopathie/werkwijze" class="nav-sub">Werkwijze</a>
				<a href="/osteopathie/indicaties" class="nav-sub">Indicaties</a>
			</div>
		</div>
		<div class="nav-link">
			<a href="/contact">Contact</a>
		</div>
	</nav>
	<nav class="nav-mobile" onclick="this.classList.toggle('nav-mobile-active')">
		<svg viewBox="0 0 107 348" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g id="Spine">
				<circle id="big-circle8" cx="13.5" cy="13.5" r="13.5" transform="matrix(-1 0 0 1 107 307)"
					fill="white" />
				<circle id="big-circle7" cx="19" cy="19" r="19" transform="matrix(-1 0 0 1 94 264)" fill="white" />
				<circle id="big-circle6" cx="19" cy="19" r="19" transform="matrix(-1 0 0 1 81 220)" fill="white" />
				<circle id="big-circle5" cx="19" cy="19" r="19" transform="matrix(-1 0 0 1 80 175)" fill="white" />
				<circle id="big-circle4" cx="19" cy="19" r="19" transform="matrix(-1 0 0 1 97 132)" fill="white" />
				<circle id="big-circle3" cx="19" cy="19" r="19" transform="matrix(-1 0 0 1 107 86)" fill="white" />
				<circle id="big-circle2" cx="19" cy="19" r="19" transform="matrix(-1 0 0 1 104 40)" fill="white" />
				<circle id="big-circle1" cx="16" cy="16" r="16" transform="matrix(-1 0 0 1 88 0)" fill="white" />
				<circle id="small-circle1" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 66 327)"
					fill="white" />
				<circle id="small-circle1_2" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 43 282)"
					fill="white" />
				<circle id="small-circle1_3" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 21 228)"
					fill="white" />
				<circle id="small-circle1_4" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 32 183)"
					fill="white" />
				<circle id="small-circle1_5" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 46 132)"
					fill="white" />
				<circle id="small-circle1_6" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 56 95)"
					fill="white" />
				<circle id="small-circle1_7" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 56 57)"
					fill="white" />
				<circle id="small-circle1_8" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 46 19)"
					fill="white" />
			</g>
		</svg>
		<div>
			<div class="nav-link-mobile">
				<a href="/kinesitherapie">Kinesitherapie</a>
				<div>
					<a href="/kinesitherapie/werkwijze" class="nav-sub">Werkzijze</a>
					<a href="/kinesitherapie/indicaties" class="nav-sub">Indicaties</a>
					<a href="/kinesitherapie/proef2move" class="nav-sub">Proef2Move</a>
				</div>
			</div>
			<div class="nav-link-mobile">
				<a href="/osteopathie">Ostheopathie</a>
				<div>
					<a href="/osteopathie/filosofie" class="nav-sub">Filosofie</a>
					<a href="/osteopathie/werkwijze" class="nav-sub">Werkwijze</a>
					<a href="/osteopathie/indicaties" class="nav-sub">Indicaties</a>
				</div>
			</div>
			<div class="nav-link-mobile">
				<a href="/contact">Contact</a>
			</div>
		</div>
	</nav>
	<div class="hero">
		<div class="hero-left">
			<h1>Praktijk<br>Muylaert</h1>
			<div class="hero-link"><a href="./contact">Maak een afspraak</a></div>
		</div>
		<div id="img-carousel">
			<img class="img-slide" src="./img/carousel/index/1.jpg" alt="first carousel image">
			<img class="img-slide" src="./img/carousel/index/2.jpg" alt="second carousel image">
			<img class="img-slide" src="./img/carousel/index/3.jpg" alt="third carousel image">
			<script src="./scripts/carousel.js">
			</script>
		</div>
	</div>
	<h2 id="grid-title">Marten Muylaert</h2>
	<div class="grid">
		<div class="grid-item"><i class="fa-solid fa-book-medical"></i>
			<h2>Licenciaat in de</h2> <a href="/kineitherapie">kinesitherapie <i class="fa-solid fa-link fa-xs"></i></a>
		</div>
		<div class="grid-item"><i class="fa-solid fa-book-medical"></i>
			<h2>Gediplomeerd</h2>
			<a href="/otseopathie">osteopaat <i class="fa-solid fa-link fa-xs"></i></a>
		</div>
		<div class="grid-item"><i class="fa-solid fa-house-medical"></i>
			<h2>Bergestraat 26, 9550 Herzele</h2>
		</div>
		<div class="grid-item"><i class="fa-solid fa-phone"></i>
			<h2>Alle behandelingen na afspraak</h2>
		</div>
		<div class="grid-item"><i class="fa-solid fa-business-time"></i>
			<h2>Van maandag tot vrijdag</h2>
		</div>
		<div class="grid-item"><i class="fa-solid fa-truck-medical"></i>
			<h2>Ook huisbezoeken zijn mogelijk</h2>
		</div>
	</div>
	<h3>Jaarlijks verlof van zaterdag 1 juli t.e.m zondag 9 juli.</h3>
	<h3 id="contact"><a href="/contact">Contacteer mij voor een afspraak</a></h3>
	<p>KBO 0815730804</p>
	<footer>©Praktijk Muylaert - Gemaakt door Thijs Muylaert</footer>
</body>

</html>