<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Praktijk Muylaert</title>
    <link href="../css/styles.css" rel="stylesheet">
  </head>
 <header>
  <div class="logo">
    <img src="../img/logo.svg" alt="spine logo">
    <h1>Praktijk Muylaert</h1>
  </div>
  <nav>
    <a href="/" class="current">Home</a>
    <a href="kine">Kinesitherapie</a>
    <a href="osteo">Ostheopathie</a>
    <a href="contact">Contact</a>
  </nav>
 </header> 
  </body>
</html>

