<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <header>
    <h1 id="logo">Praktijk Muylaert</h1>
    <nav>
      <a href="/kinesitherapie">Kinesitherapie</a>
      <a href="/ostheopathie">Ostheopathie</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
  <div id="hero">
    <h1 id="title">
      <span style="color: #3d96ff;">Kinesitherapie</span>
      <span style="color: #3df5ff;">Ostheopathie</span>
    </h1>
    <a href="/contact" class="button">Maak een afspraak</a>
    <div id="images">
      <img src="/img/1.jpg" id="img-1">
      <img src="/img/2.jpg" id="img-2">
      <img src="/img/3.jpg" id="img-3">
    </div>
    <button id="prev-img" class="img-button"><</button>
    <button id="next-img" class="img-button">></button>
  </div>

  <p id="intro">
    Van harte welkom op de webpagina van Marten Muylaert,
    Licenciaat in de kinesitherapie en gediplomeerd osteopaat.
    Ik ontvang u graag te <strong>Bergestraat 26, 9550 Steenhuize-Wijnhuize</strong> (Herzele).
    Alle behandelingen gebeuren na afspraak van maandag tot vrijdag. Ook huisbezoeken zijn mogelijk.
  </p>
  <h3 id="verlof">Jaarlijks verlof van maandag 1 juli t.e.m zondag 7 juli</h3>
  <script src="/js/carousel.js"></script>
</html>
