<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css">
	<title>Kinesitherapie - Praktijk Muylaert</title>
</head>

<body>
	<nav>
		<div class="nav-link">
			<a href="/">Home</a>
		</div>
		<div class="nav-link nav-current">
			<a href="/kinesitherapie">Kinesitherapie</a>
			<div>
				<a href="/kinesitherapie/werkwijze" class="nav-sub">Werkzijze</a>
				<a href="/kinesitherapie/indicaties" class="nav-sub">Indicaties</a>
				<a href="/kinesitherapie/proef2move" class="nav-sub">Proef2Move</a>
			</div>
		</div>
		<div class="nav-link">
			<a href="/osteopathie">Ostheopathie</a>
			<div>
				<a href="/osteopathie/filosofie" class="nav-sub">Filosofie</a>
				<a href="/osteopathie/werkwijze" class="nav-sub">Werkwijze</a>
				<a href="/osteopathie/indicaties" class="nav-sub">Indicaties</a>
			</div>
		</div>
		<div class="nav-link">
			<a href="/contact">Contact</a>
		</div>
	</nav>
	<nav class="nav-mobile" onclick="this.classList.toggle('nav-mobile-active')">
		<svg viewBox="0 0 107 348" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g id="Spine">
				<circle id="big-circle8" cx="13.5" cy="13.5" r="13.5" transform="matrix(-1 0 0 1 107 307)"
					fill="white" />
				<circle id="big-circle7" cx="19" cy="19" r="19" transform="matrix(-1 0 0 1 94 264)" fill="white" />
				<circle id="big-circle6" cx="19" cy="19" r="19" transform="matrix(-1 0 0 1 81 220)" fill="white" />
				<circle id="big-circle5" cx="19" cy="19" r="19" transform="matrix(-1 0 0 1 80 175)" fill="white" />
				<circle id="big-circle4" cx="19" cy="19" r="19" transform="matrix(-1 0 0 1 97 132)" fill="white" />
				<circle id="big-circle3" cx="19" cy="19" r="19" transform="matrix(-1 0 0 1 107 86)" fill="white" />
				<circle id="big-circle2" cx="19" cy="19" r="19" transform="matrix(-1 0 0 1 104 40)" fill="white" />
				<circle id="big-circle1" cx="16" cy="16" r="16" transform="matrix(-1 0 0 1 88 0)" fill="white" />
				<circle id="small-circle1" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 66 327)"
					fill="white" />
				<circle id="small-circle1_2" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 43 282)"
					fill="white" />
				<circle id="small-circle1_3" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 21 228)"
					fill="white" />
				<circle id="small-circle1_4" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 32 183)"
					fill="white" />
				<circle id="small-circle1_5" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 46 132)"
					fill="white" />
				<circle id="small-circle1_6" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 56 95)"
					fill="white" />
				<circle id="small-circle1_7" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 56 57)"
					fill="white" />
				<circle id="small-circle1_8" cx="10.5" cy="10.5" r="10.5" transform="matrix(-1 0 0 1 46 19)"
					fill="white" />
			</g>
		</svg>
		<div>
			<div class="nav-link-mobile">
				<a href="/">Home</a>
			</div>
			<div class="nav-link-mobile">
				<a href="/kinesitherapie">Kinesitherapie</a>
				<div>
					<a href="/kinesitherapie/werkwijze" class="nav-sub">Werkzijze</a>
					<a href="/kinesitherapie/indicaties" class="nav-sub">Indicaties</a>
					<a href="/kinesitherapie/proef2move" class="nav-sub">Proef2Move</a>
				</div>
			</div>
			<div class="nav-link-mobile">
				<a href="/osteopathie">Ostheopathie</a>
				<div>
					<a href="/osteopathie/filosofie" class="nav-sub">Filosofie</a>
					<a href="/osteopathie/werkwijze" class="nav-sub">Werkwijze</a>
					<a href="/osteopathie/indicaties" class="nav-sub">Indicaties</a>
				</div>
			</div>
			<div class="nav-link-mobile">
				<a href="/contact">Contact</a>
			</div>
		</div>
	</nav>
	<div class="hero">
		<h1 class="long">Kinesitherapie</h1>
		<div id="img-carousel">
			<img class="img-slide" src="./img/carousel/kine/1.jpg" alt="first carousel image">
			<img class="img-slide" src="./img/carousel/kine/2.jpg" alt="second carousel image">
			<img class="img-slide" src="./img/carousel/kine/3.jpg" alt="third carousel image">
			<script src="./scripts/carousel.js">
			</script>
		</div>
	</div>
	<h3 class="underline">Kinesitherapie: genezen door bewegen</h3>
	<p>Ik ben afgestudeerd als kinesitherapeut in 1999 aan de universiteit Gent en sta al meer dan 20 jaar in het vak.
		In die periode heb ik mij bekwaamd in tal van <a href="/kinesitherapie/indicaties">specialisaties</a>. Dat is
		ook nodig want de moderne kinesitherapie
		bewijst zijn nut in verschillende medische domeinen.
	</p>
	<p>Wanneer u in behandeling kunt gaan bij een kinesitherapeut en hoe een behandeling concreet in zijn werk gaat
		vindt u <a href="/kinesitherapie/werkwijze">hier</a>.</p>
	<p>De laatste tijd is er veel aandacht voor de gezondheidsproblemen die gepaard gaan met diabetes en overgewicht.
		Als u wil weten wat u hieraan kan doen ga naar het project <a href="/kinesitherapie/proef2move">Proef2move</a>.
	</p>
	<h3 id="contact"><a href="/contact">Contacteer mij voor een afspraak</a></h3>
	<footer>©Praktijk Muylaert - Gemaakt door Thijs Muylaert</footer>
</body>

</html>