<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./styles.css">
	<title>Proef2Move - Praktijk Muylaert</title>
</head>

<body>
	<h1>Praktijk<br>Muylaert</h1>
	<nav>
		<div class="nav-link nav-current">
			<a href="/">Home</a>
		</div>
		<div class="nav-link">
			<a href="/kinesitherapie">Kinesitherapie</a>
			<div>
				<a href="/kinesitherapie/werkwijze" class="nav-sub">Werkzijze</a>
				<a href="/kinesitherapie/indicaties" class="nav-sub">Indicaties</a>
				<a href="/kinesitherapie/proef2move" class="nav-sub">Proef2Move</a>
			</div>
		</div>
		<div class="nav-link">
			<a href="/osteopathie">Ostheopathie</a>
			<div>
				<a href="/osteopathie/filosofie" class="nav-sub">Filosofie</a>
				<a href="/osteopathie/werkwijze" class="nav-sub">Werkwijze</a>
				<a href="/osteopathie/indicaties" class="nav-sub">Indicaties</a>
			</div>
		</div>
		<div class="nav-link">
			<a href="/contact">Contact</a>
		</div>
	</nav>
	<nav class="nav-mobile" onclick="this.classList.toggle('nav-mobile-active')">
		<p>MENU</p>
		<div>
			<div class="nav-link nav-current">
				<a href="/">Home</a>
			</div>
			<div class="nav-link">
				<a href="/kinesitherapie">Kinesitherapie</a>
				<div>
					<a href="/kinesitherapie/werkwijze" class="nav-sub">Werkzijze</a>
					<a href="/kinesitherapie/indicaties" class="nav-sub">Indicaties</a>
					<a href="/kinesitherapie/proef2move" class="nav-sub">Proef2Move</a>
				</div>
			</div>
			<div class="nav-link">
				<a href="/osteopathie">Ostheopathie</a>
				<div>
					<a href="/osteopathie/filosofie" class="nav-sub">Filosofie</a>
					<a href="/osteopathie/werkwijze" class="nav-sub">Werkwijze</a>
					<a href="/osteopathie/indicaties" class="nav-sub">Indicaties</a>
				</div>
			</div>
			<div class="nav-link">
				<a href="/contact">Contact</a>
			</div>
		</div>
	</nav>
	<h2>Proef2Move</h2>
	<div class="center"><img src="./img/carousel/kine/proef2move/logo.png" alt="Proef2Move logo"></div>
	<h3>Het project</h3>
	<p>Wetenschappelijk onderzoek toont aan dat beweging een belangrijke rol speelt bij de preventie én behandeling van
		diabetes type 2 en/of overgewicht.</p>
	<p>Medische verwikkelingen zoals pijnlijke gewrichten of een zere rug hoeven geen probleem te zijn om te starten met
		bewegen. Als participerend kinesist kan ik zorgen voor een aangepast oefenprogramma en de juiste
		begeleiding.<br><a href="http://www.proef2move.be/">Meer info over Proef2move</a>.</p>
	<h3>Praktisch</h3>
	<p>Heeft u last van overgewicht, bent u diabetespatiënt type 2 ? Wilt u bewegen maar aarzelt u om dit avontuur
		alleen te starten? Bespreek het met uw huisarts. De huisarts bepaalt of u medisch in aanmerking komt en zal u
		doorverwijzen naar de kinesitherapeut.</p>

	<h3 id="contact"><a href="/contact">Contacteer mij voor een afspraak</a></h3>
	<footer>©Praktijk Muylaert - Gemaakt door Thijs Muylaert</footer>
</body>

</html>