<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./styles.css">
	<title>Indicaties - Praktijk Muylaert</title>
</head>

<body>
	<h1>Praktijk<br>Muylaert</h1>
	<nav>
		<div class="nav-link">
			<a href="/">Home</a>
		</div>
		<div class="nav-link nav-current">
			<a href="/kinesitherapie">Kinesitherapie</a>
			<div>
				<a href="/kinesitherapie/werkwijze" class="nav-sub">Werkzijze</a>
				<a href="/kinesitherapie/indicaties" class="nav-sub">Indicaties</a>
				<a href="/kinesitherapie/proef2move" class="nav-sub">Proef2Move</a>
			</div>
		</div>
		<div class="nav-link">
			<a href="/osteopathie">Ostheopathie</a>
			<div>
				<a href="/osteopathie/filosofie" class="nav-sub">Filosofie</a>
				<a href="/osteopathie/werkwijze" class="nav-sub">Werkwijze</a>
				<a href="/osteopathie/indicaties" class="nav-sub">Indicaties</a>
			</div>
		</div>
		<div class="nav-link">
			<a href="/contact">Contact</a>
		</div>
	</nav>
	<h2>Indicaties</h2>
	<div id="img-carousel">
		<img class="img-slide" src="./img/carousel/kine/werkwijze/1.jpg" alt="first carousel image">
		<img class="img-slide" src="./img/carousel/kine/werkwijze/2.jpg" alt="second carousel image">
		<img class="img-slide" src="./img/carousel/kine/werkwijze/3.jpg" alt="third carousel image">
		<script src="./scripts/carousel.js">
		</script>
	</div>
	<h3>U kan bij mij terecht voor:</h3>

	<ul>
		<li>Lage rug-, nek-, en gewrichtspijn</li>
		<li>Rugscholing</li>
		<li>Revalidatie na operatie of ziekenhuisopname</li>
		<li>Gewrichtsklachten</li>
		<li>Valpreventie bij ouderen</li>
		<li>Overgewicht en diabetes</li>
		<li>Pré- en postnatale begeleiding</li>
		<li>Ademhalingskinesitherapie</li>
		<li>Lymfedrainage</li>
		<li>Sporttaping, sportmassage</li>
		<li>Relaxatietherapie</li>
		<li>…</li>
	</ul>
	<p>Bespreek het met uw huisarts. Hij kan u een voorschrift schrijven.</p>
	<p>Deze lijst is natuurlijk niet volledig. Indien u vragen heeft over een bepaalde indicatie of behandeling, <a
			href="/contact">contacteer mij</a>.</p>
	<br>
	<br>
	<br>
	<footer>©Praktijk Muylaert - Gemaakt door Thijs Muylaert</footer>
</body>

</html>