<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kinesitherapie</title>
    <link rel="preload" href="/css/style.css" as="style" />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <h1 id="logo">Praktijk Muylaert</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/kinesitherapie">Kinesitherapie</a>
        <a href="/osteopathie">Osteopathie</a>
        <a href="/contact">Contact</a>
      </nav>
      <button id="nav-button"><img src="/img/mobile-nav-icon.webp" /></button>
    </header>
    <section class="title">
      <div class="text">
        <h1 class="reveal">Kinesitherapie</h1>
        <h2 class="reveal" style="text-align: center">
          Genezen door te bewegen
        </h2>
      </div>

      <div id="slideshow">
        <img src="/img/7.webp" id="img-1" />
        <img src="/img/6.webp" id="img-2" />
        <img src="/img/4.webp" id="img-3" />
      </div>
    </section>

    <div id="scroll-menu">
      <a href="#algemeen">Algemeen</a>
      <a href="#werkwijze">Werkwijze</a>
      <a href="#indicaties">Indicaties</a>
    </div>

    <p class="reveal" id="algemeen" style="margin-top: 72px">
      Ik ben afgestudeerd als kinesitherapeut in 1999 aan de universiteit Gent
      en sta al meer dan 20 jaar in het vak. Ondertussen heb ik mij bekwaamd in
      tal van extra specialisaties. Dat is ook nodig want de moderne
      kinesitherapie bewijst zijn nut in verschillende medische domeinen
    </p>

    <h2
      class="reveal"
      id="werkwijze"
      style="text-align: center; font-size: 36px; width: 20rem"
    >
      Werkwijze
    </h2>
    <p class="reveal">
      Kinesitherapeutische behandelingen worden courant toegepast voor deze
      <a href="#indicaties">indicaties</a>. U kunt bespreken met uw huisarts of
      specialist of u in aanmerking komt. Nadat de arts u een voorschrift
      kinesitherapie (meestal 9, 18 of 30 sessies) geschreven heeft maakt u een
      afspraak.
    </p>
    <p class="reveal">
      Indien u zelf naar de kinepraktijk kan komen is dit een pluspunt. Indien u
      zich om medische redenen niet kunt verplaatsen kan ik ook aan huis komen.
      Breng bij de eerste afspraak het voorschrift, uw identiteitskaart of
      klevertje van het ziekenfonds en nuttige medische verslagen mee.
    </p>
    <p class="reveal">
      De toegepaste behandeling is steeds afhankelijk van de indicatie.
      Technieken die ik vaak gebruik zijn massage, oefentherapie, mobilisaties,
      ademhalingsoefeningen, relaxatieoefeningen, elektrotherapie, ultrageluid,
      warmte- of ijsapplicatie, lymfedrainage, …
    </p>
    <p class="reveal">
      Indien het gaat om een arbeidsongeval of indien u geopereerd bent en
      geniet van een hospitalisatieverzekering kunnen de behandelingen meestal
      volledig terugbetaald worden. In andere gevallen betaalt u enkel het
      remgeld.
    </p>
    <p class="reveal">
      Als geconventioneerd kinesitherapeut werk ik aan de officiële
      <a
        href="http://www.riziv.fgov.be/nl/themas/kost-terugbetaling/door-ziekenfonds/individuele-verzorging/honoraires/Paginas/kine-nl.aspx#.VUomQ47tmko"
        >RIZIV-tarieven</a
      >.
    </p>
    <p class="reveal">
      Betaling is mogelijk contant, via overschrijving of via QR Code.
    </p>
    <p class="reveal">
      Ik ben lid van de Belgische beroepsvereniging voor kinesitherapeuten
      <a href="https://www.axxon.be/nl/home/">AXXON</a>
      en bestuurslid van de
      <a href="https://zuid-oost-vlaamsekinekring.be/"
        >Zuid-Oost-Vlaamse kinekring</a
      >.
    </p>
    <p class="reveal">
      Mijn verzekeraar beroepsaansprakelijkheid is Amma, Kunstlaan 39/1, 1040
      Brussel. tel 02/209 02 00.
    </p>
    <p class="reveal">
      De contactgegevens van de toezichthoudende instantie zijn: Provinciale
      Geneeskundige Commissie, controleorgaan van de gezondheidszorgberoepen,
      Ketelvest 26/201, 9000 Gent.
    </p>

    <h2
      id="indicaties"
      class="reveal"
      style="text-align: center; font-size: 36px"
    >
      U kan bij mij terecht voor:
    </h2>
    <div style="display: flex; flex-direction: column; align-items: center">
      <ul>
        <li class="reveal">Lage rug-, nek-, en gewrichtspijn</li>
        <li class="reveal">Rugscholing</li>
        <li class="reveal">Revalidatie na operatie of ziekenhuisopname</li>
        <li class="reveal">Gewrichtsklachten</li>
        <li class="reveal">Valpreventie bij ouderen</li>
        <li class="reveal">Overgewicht en diabetes</li>
        <li class="reveal">Pré- en postnatale begeleiding</li>
        <li class="reveal">Ademhalingskinesitherapie</li>
        <li class="reveal">Lymfedrainage</li>
        <li class="reveal">Sporttaping, sportmassage</li>
        <li class="reveal">Relaxatietherapie</li>
        <li class="reveal">…</li>
      </ul>
    </div>
    <p class="reveal">
      Bespreek het met uw huisarts. Hij kan u een voorschrift schrijven.
    </p>
    <p class="reveal">
      Deze lijst is natuurlijk niet volledig. Indien u vragen heeft over een
      bepaalde indicatie of behandeling,
      <a href="/contact">contacteer mij</a>.
    </p>

    <div style="display: flex; justify-content: center">
      <a href="contact" class="button reveal" style="margin-bottom: 300px"
        >Maak een afspraak</a
      >
    </div>
    <script src="/js/slideshow.js"></script>
    <script src="/js/mobile-nav.js"></script>
    <script src="/js/scroll.js"></script>
  </body>
</html>
