<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Osteopathie</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
 <header>
      <h1 id="logo">Praktijk Muylaert</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/kinesitherapie">Kinesitherapie</a>
        <a href="/ostheopathie">Osteopathie</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>

    <h1 class="reveal">Osteopathie</h1>
    <h2 class="reveal" style="text-align: center; font-size: 36px">
      Genezen door te bewegen
    </h2> 

    <script src="/js/scroll.js"></script>
    <script src="/js/slideshow.js"></script>
  </body>
</html>
