<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Osteopathie</title>
    <link rel="preload" href="/css/style.css" as="style" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1 id="logo">Praktijk Muylaert</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/kinesitherapie">Kinesitherapie</a>
        <a href="/osteopathie">Osteopathie</a>
        <a href="/contact">Contact</a>
      </nav>
      <button id="nav-button"><img src="/img/mobile-nav-icon.webp" /></button>
    </header>
    <section class="title">
      <div class="text">
        <h1 class="reveal">Osteopathie</h1>
        <h2 class="reveal" style="text-align: center; font-size: 36px">
          Een behandeling van het hele lichaam
        </h2>
      </div>

      <div id="slideshow">
        <img src="/img/6.webp" id="img-1" />
        <img src="/img/7.webp" id="img-2" />
        <img src="/img/8.webp" id="img-3" />
      </div>
    </section>

    <nav id="scroll-menu">
      <a href="#algemeen">Algemeen</a>
      <a href="#filosofie">Filosofie</a>
      <a href="#werkwijze">Werkwijze</a>
    </nav>

    <p class="reveal" id="algemeen" style="margin-top: 72px">
      Naast de klassieke kinesitherapie kunt u bij mij ook terecht voor
      osteopathie, waarin ik mij heb gespecialiseerd na een vijfjarige
      internationale opleiding. De grote meerwaarde van de osteopathie is zijn
      unieke filosofie waarbij het lichaam in zijn geheel onderzocht en
      behandeld wordt. Bovendien zijn doorgaans minder behandelingen nodig en is
      geen voorschrift van een arts nodig.
    </p>
    <h2 class="reveal" style="text-align: center; font-size: 36px">
      Waarvoor bij de osteopaat?
    </h2>
    <p class="reveal">
      Omdat de osteopaat het lichaam in zijn geheel onderzoekt én behandelt, kan
      een behandeling verlichting geven bij tal van klachten. Bovendien gebruikt
      de osteopaat eveneens zachte technieken waardoor ook baby’s, kleine
      kinderen, zwangere vrouwen en ouderen veilig behandeld kunnen worden.
    </p>

    <h2
      class="reveal"
      id="filosofie"
      style="text-align: center; font-size: 36px"
    >
      Filosofie
    </h2>

    <p class="reveal">
      De osteopathie beschouwt het lichaam als één geheel bestaande uit het
      geraamte, spieren, pezen, gewrichten, ingewanden en zenuwen. Een verlies
      van beweeglijkheid in één van deze systemen kan klachten veroorzaken. Niet
      zelden uiten de klachten zich op een andere plaats in het lichaam.
    </p>

    <p class="reveal">
      De osteopaat onderzoekt het ganse lichaam en is uiterst bekwaam om zones
      met verminderde mobiliteit te detecteren. Vervolgens wordt het
      mobiliteitsverlies via manuele technieken (manipulaties, zachte
      weefseltechnieken, mobilisaties) behandeld.
    </p>

    <p class="reveal">
      Op deze wijze wordt het lichaam terug in evenwicht gebracht en wordt het
      natuurlijk genezingsproces hersteld.
    </p>

    <h2
      class="reveal"
      id="werkwijze"
      style="text-align: center; font-size: 36px"
    >
      Werkwijze
    </h2>

    <p class="reveal">
      De consultatie start met een uitgebreide anamnese en het bekijken van uw
      medische documentatie. Zo heb ik een goed inzicht in uw klachten en
      voorgeschiedenis.
    </p>

    <p class="reveal">
      Vervolgens voer ik als osteopaat een uitgebreid lichamelijk onderzoek uit.
      Niet enkel de plaats waar de pijn zich situeert, maar ook andere regio’s
      die bewegingsverlies vertonen.
    </p>

    <p class="reveal">
      Op basis van deze onderzoeken pas ik de juiste behandeltechniek toe:
      zachte weefseltechnieken, manipulaties, mobilisaties. Eventueel worden ook
      raadgevingen of oefeningen voor thuis meegegeven. Indien nodig krijgt u
      een afspraak voor een volgende behandeling.
    </p>

    <p class="reveal">
      Het tarief bedraagt 50 euro voor een consultatie. Betaling is mogelijk
      contant, via overschrijving of via QR Code
    </p>

    <div style="display: flex; justify-content: center">
      <a href="contact" class="button reveal" style="margin-bottom: 300px"
        >Maak een afspraak</a
      >
    </div>
    <script src="/js/scroll.js"></script>
    <script src="/js/mobile-nav.js"></script>
    <script src="/js/slideshow.js"></script>
  </body>
</html>
