<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css">
	<title>Filosofie - Praktijk Muylaert</title>
</head>

<body>
	<h1>Praktijk<br>Muylaert</h1>
	<nav>
		<div class="nav-link">
			<a href="/">Home</a>
		</div>
		<div class="nav-link">
			<a href="/kinesitherapie">Kinesitherapie</a>
			<div>
				<a href="/kinesitherapie/werkwijze" class="nav-sub">Werkzijze</a>
				<a href="/kinesitherapie/indicaties" class="nav-sub">Indicaties</a>
				<a href="/kinesitherapie/proef2move" class="nav-sub">Proef2Move</a>
			</div>
		</div>
		<div class="nav-link nav-current">
			<a href="/osteopathie">Ostheopathie</a>
			<div>
				<a href="/osteopathie/filosofie" class="nav-sub">Filosofie</a>
				<a href="/osteopathie/werkwijze" class="nav-sub">Werkwijze</a>
				<a href="/osteopathie/indicaties" class="nav-sub">Indicaties</a>
			</div>
		</div>
		<div class="nav-link">
			<a href="/contact">Contact</a>
		</div>
	</nav>
	<nav class="nav-mobile" onclick="this.classList.toggle('nav-mobile-active')">
		<p>MENU</p>
		<div>
			<div class="nav-link nav-current">
				<a href="/">Home</a>
			</div>
			<div class="nav-link">
				<a href="/kinesitherapie">Kinesitherapie</a>
				<div>
					<a href="/kinesitherapie/werkwijze" class="nav-sub">Werkzijze</a>
					<a href="/kinesitherapie/indicaties" class="nav-sub">Indicaties</a>
					<a href="/kinesitherapie/proef2move" class="nav-sub">Proef2Move</a>
				</div>
			</div>
			<div class="nav-link">
				<a href="/osteopathie">Ostheopathie</a>
				<div>
					<a href="/osteopathie/filosofie" class="nav-sub">Filosofie</a>
					<a href="/osteopathie/werkwijze" class="nav-sub">Werkwijze</a>
					<a href="/osteopathie/indicaties" class="nav-sub">Indicaties</a>
				</div>
			</div>
			<div class="nav-link">
				<a href="/contact">Contact</a>
			</div>
		</div>
	</nav>
	<h2>Filosofie</h2>
	<p>De osteopathie beschouwt het lichaam als één geheel bestaande uit het geraamte, spieren, pezen, gewrichten,
		ingewanden en zenuwen. Een verlies van beweeglijkheid in één van deze systemen kan klachten veroorzaken. Niet
		zelden uiten de klachten zich op een andere plaats in het lichaam.</p>
	<p>De osteopaat onderzoekt het ganse lichaam en is uiterst bekwaam om zones met verminderde mobiliteit te
		detecteren. Vervolgens wordt het mobiliteitsverlies via manuele technieken (manipulaties, zachte
		weefseltechnieken, mobilisaties) behandeld.</p>
	<p>Op deze wijze wordt het lichaam terug in evenwicht gebracht en wordt het natuurlijk genezingsproces hersteld.</p>

	<h3 id="contact"><a href="/contact">Contacteer mij voor een afspraak</a></h3>
	<footer>©Praktijk Muylaert - Gemaakt door Thijs Muylaert</footer>
</body>

</html>