@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --text: #ffffff;
  --background: #1f1f2b;
  --primary: #1a948a;
  --accent: #3df5ff;
}

html {
  color-scheme: dark;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 200px;
  overflow-x: hidden;
  z-index: -11;
}

h1{
  font-size: 72px;
  margin-left: auto;
  text-align: center;
}

.reveal{
  translate: 0 40px;
  opacity: 0;
  transition: 1s;
  transition-property: opacity translate;
}

.active{
  translate: 0;
  opacity: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}

nav>a {
  font-size: 16px;
  font-weight: 600;
  color: var(--text);
  text-decoration: none;
  z-index: 1;
}

#logo {
  font-size: 36px;
  font-weight: 700;
  flex-grow: 3;
  margin-left: 0px;
  text-align: left;
  z-index: 1;
}

.info{
  font-size: 24px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

#hero {
  height: 625px;
  background-color: #2A2A2A;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  margin-top: 170px;
  font-weight: 700;
  font-size: 72px;
}

a.button {
  border-radius: 30px;
  text-align: center;
  padding: 15px 35px;
  text-decoration: none;
  color: var(--text);
  border: solid 2px var(--primary);
  transition: all 0.25s;
&:hover{
   background-color: var(--accent);
   border-color: var(--accent);
   color: var(--background);
  }
}


#images {
  margin-top: 64px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#images>img {
  position: absolute;
  border-radius: 10px;
  width: 700px;
  height: 400px;
  object-fit: cover;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
  transition:all 1s;
}

#img-1 {
  z-index: 10;
  scale: 1;
}

#img-2 {
  translate: -400px;
  scale: 0.8;
  rotate: -3deg;
  z-index: 5;
}

#img-3 {
  translate: 400px;
  scale: 0.8;
  rotate: 3deg;
}

#intro {
  margin: auto;
  margin-top: 800px;
  width: clamp(10px, 90vw, 1254px);
  text-align: center;
  font-size: 36px;
  font-weight: 300;

  &>strong {
    font-weight: 600;
  }
}

#verlof {
  margin-top: 100px;
  width: 100vw;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
}

.img-button {
  position: absolute;
  z-index: 100;
  bottom: 0;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  border: none;
  background-color: white;
  color: black;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
  font-weight: 700;

  &:hover {
    background-color: var(--accent);
    cursor:pointer;
  }
}

#next-img {
  translate: 350px;
}

#prev-img {
  translate: -350px;
}
